section.publication-container {
  h1.title {
    margin-bottom: 1em;
  }
  .publication__year-container {
    margin-bottom: 5em;
    .publication__year-title {
      h3.title {
        border-bottom: 5px solid #2d2a56;
        padding-bottom: 0.5em;
      }
    }
    .publication__list-container {
      .publication__list {
        display: flex;
        align-items: center;
        padding: 1em 2em;
        border-bottom: 1px solid #bababa;
        .publication__list-index {
          margin-right: 3em;
        }
        .publication__list-image {
          width: 90px;
          height: 90px;
          margin-right: 1.5em;
        }
        .publication__list-content {
          h4.title {
            margin-bottom: 0.5em;
          }
          p.description {
            color: #2d2a56;
          }
        }
      }
    }
  }
}
