extends ../layouts/default.pug

block content
  //- 상단 이미지
  include ../mixin/sub_hero.pug
  +sub_hero('Gallery')

  //- 본문
  main
    section.gallery-container
        h1.title Gallery
        include ../components/board.pug
        .gallery__list-container
          a.gallery__list
            .gallery__list__image
              img(src="https://t1.daumcdn.net/cfile/tistory/157933284A13700D75" alt="gallery image")
            .gallery__list__info
              .gallery__list__title 20230723 랩실 회식
              .gallery__list__date 2023-07-23