extends ../layouts/default.pug

block content
  main
    .hero-container
      img.hero-image(src="./images/representative_image.png", alt="커다란 이미지")
      .hero-text
        .hero-text__main
          .hero-text__main_1 Next-generation
          .hero-text__main_2 Energy and Environmental Devices Lab.
        .hero-text__sub 경상국립대학교 차세대 에너지 환경 기계 연구실
