extends ../layouts/default.pug

block content
  //- 상단 이미지
  include ../mixin/sub_hero.pug
  +sub_hero('People')

  //- 서브 메뉴
  include ../mixin/sub_menu.pug
  +sub_menu([
    {name: 'Professor', href: './people_professor', isSelected: true}, 
    {name: 'Members', href: './people_members'}])
  
  //- 본문
  main
    section.professor-container
      h1.title Professor
      .professor-profile
        .professor__text
          .professor__text__rank.font-bold Associate Professor
          .professor__text__name.font-bold Duckjong Kim
          .professor__text__department
            p.font-light
              | School of Mechanical Engineering Gyeongsang National University
          .professor__text__contact-container
            .professor__text__phone
                i.fa-solid.fa-phone
                span +82-55-772-1637
            .professor__text__email
                i.fa-solid.fa-envelope
                span dkim@gnu.ac.kr
            .professor__text__address
                i.fa-sharp.fa-solid.fa-location-dot
                span Room 305, Building 403, Gajwa Campus
        img.professor__image(src="./images/professor.png", alt="교수 이미지")
      .professor-description-container
        .professor-description-title
          h3.title Education
        .professor-description-content
          ul.professor-description-content-list
            li.professor-description-content-item
              span.professor-description-content-item__year.font-bold 2003
              p.professor-description-content-item__content 
                | Korea Advanced Institute of Science and Technology (Ph.D. in Mechanical Engineering)
            li.professor-description-content-item
              span.professor-description-content-item__year.font-bold 1999
              p.professor-description-content-item__content
                | Korea Advanced Institute of Science and Technology (M.S. in Mechanical Engineering)
            li.professor-description-content-item
              span.professor-description-content-item__year.font-bold 1997
              p.professor-description-content-item__content
                | Korea Advanced Institute of Science and Technology (B.S. in Mechanical Engineering)
            li.professor-description-content-item
              span.professor-description-content-item__year.font-bold 1993
              p.professor-description-content-item__content
                | Daejeon Science High School

      
      .professor-description-container
        .professor-description-title
          h3.title Work Experience
        .professor-description-content
          ul.professor-description-content-list
            li.professor-description-content-item
              span.professor-description-content-item__year.font-bold 2019. 9 ~ Present
              p.professor-description-content-item__content 
                | Gyeongsang National University
            li.professor-description-content-item
              span.professor-description-content-item__year.font-bold 2018. 8
              p.professor-description-content-item__content
                | Korea Institute of Machinery and Materials 
                