extends ../layouts/default.pug

block content
  //- 상단 이미지
  include ../mixin/sub_hero.pug
  +sub_hero('People')

  //- 서브 메뉴
  include ../mixin/sub_menu.pug
  +sub_menu([
    {name: 'Professor', href: './people_professor'}, 
    {name: 'Members', href: './people_members', isSelected: true}, 
    {name: 'Alumni', href: './people_alumni'}])
  
  //- 본문
  main
    section.members-container
      h1.title Members
      .members-tag-container
        .members-tag
          .members-tag__item.selected All
          .members-tag__item Post Docs
          .members-tag__item Graduate Students
          .members-tag__item Undergraduate Students
      .members__list-container