footer.footer
  .footer-content
    h3.footer-title.font-bold Locations
    ul.footer-contact-list.font-light
      li
        span.font-bold Professor's Office: 
        | 403-305 in Gajwa Campus (501 Jinju-daero, Jinju 52828, Republic of Korea)
      li
        span.font-bold Heat and Mass Transfer Control Laboratory: 
        | 403-202, 203 in Gajwa Campus
      li
        span.font-bold Next Generation Energy System/Materials Laboratory: 
        | 416-224 in Gajwa Campus

    .footer-bottom
      p.footer-bottom-text
        | &copy; Copyright 2023 Next-generation Energy and Environmental Devices Laboratory. Designed and developed by 
        a(href="https://github.com/JangDongHo" target='_blank') Dongho Jang.