nav.navbar
  a(href="./")
    .navbar__logo-container
      img.navbar__logo(src="./images/logo.png" alt="경상국립대학교 로고")
      .navbar__logo-text.font-bold
        .navbar__logo-text--main 차세대 에너지 환경 기계 연구실
        .navbar__logo-text--mobile NEEDs Lab.
        .navbar__logo-text--sub.font-light Next-generation Energy and Environmental Devices Lab.
  ul.navbar__list
    li.navbar__item
      a.navbar__link(href="./") Home
    li.navbar__item
      a.navbar__link(href="./people_professor") People
      ul.navbar__sub-menu-container
        li.navbar__sub-item 
          a.navbar__sub-link(href="./people_professor") Professor
        li.navbar__sub-item 
          a.navbar__sub-link(href="./people_members") Members
    li.navbar__item
      a.navbar__link(href="./research") Research
    li.navbar__item
      a.navbar__link(href="./publication_international_journal") Publication
      ul.navbar__sub-menu-container
        li.navbar__sub-item 
          a.navbar__sub-link(href="./publication_international_journal") International Journal
        li.navbar__sub-item 
          a.navbar__sub-link(href="./publication_patent") Patent
        li.navbar__sub-item 
          a.navbar__sub-link(href="./publication_book") Book
    li.navbar__item
      a.navbar__link(href="./lab_facilities") Lab Facilities
    li.navbar__item
      a.navbar__link(href="./gallery") Gallery
    li.navbar__item
      a.navbar__link(href="./contact") Contact
  .navbar__menu-icon
    i.fa-solid.fa-bars
