nav.navbar
  .navbar__logo-container
    img.navbar__logo(src="./images/logo.png" alt="경상국립대학교 로고")
    .navbar__logo-text.font-bold
      .navbar__logo-text--main 차세대 에너지 환경 기계 연구실
      .navbar__logo-text--mobile NEEDs Lab.
      .navbar__logo-text--sub.font-light Next-generation Energy and Environmental Devices Lab.
  ul.navbar__list
    li.navbar__item
      a.navbar__link(href="#") Home
    li.navbar__item
      a.navbar__link(href="#") People
    li.navbar__item
      a.navbar__link(href="#") Research
    li.navbar__item
      a.navbar__link(href="#") Publication
    li.navbar__item
      a.navbar__link(href="#") Lab Facilities
    li.navbar__item
      a.navbar__link(href="#") Gallery
    li.navbar__item
      a.navbar__link(href="#") Contact
  .navbar__menu-icon
    i.fa-solid.fa-bars
