doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NEEDs Lab. | 경상국립대학교 차세대 에너지 환경 기계 연구실
  body
    include ../components/header.pug

    block content

    include ../components/footer.pug

    script(src="https://kit.fontawesome.com/b7f69e0a07.js", crossorigin="anonymous")
    script(src="/assets/scripts/main.js")