doctype html
html
  head
    meta(charset="UTF-8")
    title NEEDs Lab. | 경상국립대학교 차세대 에너지 환경 기계 연구실
    link(rel="stylesheet", href="/assets/styles/main.css")
  body
    include ../components/header.pug

    block content

    include ../components/footer.pug

    script(src="/assets/scripts/main.js")